* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*:focus {
    outline: none;
}

textarea {
    resize: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: #2CC990;
}

body {
    background-color: #ECEFF4;
}

.nav{
    height: 52px;
    width: auto;
    background-color: white;
}

.right {
    float: right;
}


.profilepicdiv img {
    height: 40px;
    width: 40px;

}

.profilepicdiv {
     position: relative;
    top: 5px;
    right: 50px;
}

.logo h2 {
    color: #2CC990;
    font-size: 25pt;
    position: relative;
    left: 15px;
    width: 10px;;
}

.username {
    left: 40px;
    position: relative;
}

.postbox {
    width: 720px;
    height: 290px;
    background-color: white;
    position: relative;
    margin-bottom: 12px;
}

.postbox h2 {
    position: relative;
    left: 25px;
    top: 15px;
}

.postinput {
    height: 10.625em;
    width: 42.500em;
    position: relative;
    left: 15px;
}

.postbox hr {
  width: 95%;
}

.postbutton {
        background-color: #2CC990;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-radius: 100px;
    color: white;
    width: 90px;
    height: 35px;
    position: relative;
    left: 20px;
    top: 12px;
}
.postbutton:hover {
    background-color: white;
    border-style: solid;
    border-color: #1e8c64;
    color: #1e8c64;
}

.textpost {
    width:45.000em;
    height: 12.500em;
    background-color: white;
    margin-bottom: 12px;
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
}

.textpost h2 {
    position: relative;
    left: 25px;
    top: 15px;
}

.textpost hr {
    width: 95%;
}

.textpost p {
    position: relative;
    left: 20px;
    padding-right: 30px;
}

.textpost img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.like {
  position: relative;
  top: 50px;
  margin-left: 20px;
}

#dropdownimg {
    height: 40px;
    width: 40px;
}
#dropdownimg:hover {
    cursor:pointer;
}

.dropbutton {
    position: relative;
    bottom: 90px;
    z-index: 9999;
    left: 30px;
    width: 0.1px !important;
}
.hidden {
    height: 100px;
    width: 100px;
    background-color: white;
    z-index: 800;
    display: none;
    float: right;
    left: 75px;
    position: relative;
}
.hidden h2 {
    font-size: 12pt;
    text-align: center;
    position: relative;
}

.profilepic {
    position: relative;
    right: 20px;
}
.logout {
    color: white;
    background-color: #2CC990;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
    width: 75px;
}
.logout:hover {
    color: #2CC990;
    background-color: white;
    border-color: #2CC990;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
}
.settings {
    color: white;
    background-color: #2CC990;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
    width: 75px;
}
.settings:hover {
    color: #1e8c64;
    background-color: white;
    border-color: #1e8c64;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
}
.settingsbox {
    background-color: white;
    border-color: #2CC990;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    color: #2CC990;
    z-index: 1337;
    position: fixed;
    top: 25%;
    width:600px;
    margin-left:-300px;
    left:50%;
    display: none;
    height: 300px;
}
.closeicon {
    width: 20px;
    height: 20px;
    float: right;
    position: absolute;
    top: 25px;
    right: 25px;
}


.trending{
  min-height: 200px;
  max-height: 700px;
	width: 250px;
	position: relative;
  background-color: white;
    display: inline-block;
    word-wrap: break-word;
}

.posts{
  position:absolute;
  top: 60px;
  margin-left: 320px;
}

.profilepic img {
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 270px;
}

.userinfo{
  padding-left: 1em;
  padding-bottom: 1em;
}

.userinfo a {
  color: #4183D7;
}

.userinfo span {
  color: #F89406;
}

.userpost {
  position:absolute;
  top:0px;
}

#searchinput{
  position: absolute;
  top: 0px;
  width: 10em;
  margin-left: 20em;
  border: none;
  height: 52px;
  color: #aae9d2;
  border-bottom: 1px solid #d7d7d7;
}

.searchbut{
  position: absolute;
  top: 15px;
  background-color: #2CC990;
border-style: solid;
border-color: transparent;
border-width: 1px;
border-radius: 100px;
color: white;
width: 40px;
height: 30px;
margin-left: 30.8em;
}

.searchbut:hover{
  background-color: white;
  border-style: solid;
  border-color: #1e8c64;
  color: #1e8c64;
}

  .searchresult {
    position: relative;
    width: 250px;
    min-height: 240px;
    padding: 0px;
    background-color: white ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px #616161;
    -moz-box-shadow: 2px 2px 10px 0px #616161;
    box-shadow: 2px 2px 10px 0px #616161;
    margin-left: 270px;
    z-index: 99;
    display: none;
}

  .searchresult:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 110px;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.result img {
  width: auto;
  max-width: 40px;;
  height: auto;
  max-height: 40px;
  border-radius: 99px;
  margin-top: 10px;
  margin-left: 5px;
}

.result h3{
  margin-left: 50px;
  position: relative;
  bottom: 50px;
}

.result hr {
  width: 90%;
  position: relative;
  bottom: 40px;
}

.result{
  height: 80px;
}
